:root {
    --lightcard: rgb(109, 163, 245);
    --lighttext:rgb(235, 229, 232);
    --lightbg:rgb(197, 248, 213);
    --buttonborder: rgba(170, 50, 220, .8);
    --lightbutton: rgb(192, 105, 148);
    --lightcardbg: rgb(102, 184, 173);
    --darkb: rgb(211, 66, 114);
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(41, 40, 40);
  }

body {
  background-color: var(--lightbg);
}

header {
width:100%;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 6.25rem;
  font-weight: 400;
  color: var(--lightcardbg);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;

}

h5 {
  line-height: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1.75rem;
}

main{
  margin: 6rem;
 }

section {
  height: 60rem;
  border: 0.35rem solid rgb(245, 179, 201);
  border-radius: 6.5rem;
  padding: 5rem;
  margin-top: 5rem;
  background-color: var(--darkb);
}

input {
  margin-bottom: 2rem;
}

#search-form button {
  margin-bottom: 2rem;
} 

.city-buttons {
color: var(--lighttext);
font-family: "Nunito", sans-serif;
background-color: var(--lightbutton);
}

label {
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.active-city-title{
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

#active-city {
  text-align: center;
  font-weight: 900;
}

#active-city-icon {
  text-align: center;
}

.list-main {
  width: 30rem;
  margin-top: 3rem; 
  list-style: none;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2rem;
}

.list-cont {
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  }

.list-group-item {
  
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;

}
.card{
  /* animation: backOutDown;
    animation-duration: 4s; */
  margin:1.5rem;
  padding: 1rem;
  border: 0.35rem solid rgb(245, 179, 201);
  text-align: center;
  background-color: var(--lightbutton);
}

.icon-img{
  background-color: var(--lightcardbg);
}

.green {
  background-color:#28a745;
}
.yellow {
  background-color:#dcd935;
}
.orange {
  background-color:#dc8035;
}
.red {
  background-color:#dc3545;
}

.fas {
  color : rgb(250, 246, 199);
}

.reset-button {
  background-color:  rgb(16, 109, 248);
  border: 0.2rem solid white;
  border-radius: 50%;
  color: white;
  padding: 0.02rem 1.1rem 0.2rem 1.1rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 2rem;
  font-family: "Nunito", sans-serif;
}

.hidden {
  visibility:hidden;
}

.visible {
  visibility:visible;
}